@font-face {
    font-family: 'Techna';
    src: url('TechnaSans-Regular.woff2') format('woff2'),
        url('TechnaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

