@page{
	size: A5;
	margin: 1.5cm;
}

body{
	font-family: 'Reglo', sans-serif;
	text-transform: uppercase;
	font-size:22px;
	line-height: 1.2;
	text-align: center; 
}

.cover{
	page: cover;
}

@page cover{
		background-color: #FFF400;
}

/*permet de créer une page pour chaque section */
section{
	break-before: page;
}

.text{
	font-size: 3em;
}







