body {
    font-size: 24px;
    word-break: auto;
    font-family: 'Roboto Mono', monospace; 
}
@page {
    size: A4 landscape;
    /* margin: 40mm 15mm; */
    /* marks: crop cross; */
}

h1 {
    color: white;
    text-align: left;
    font-family: "Torus Notched";
    margin-top: 10px;
    font-size: 70px;
    font-weight: 100;

  }
#Chap1 {
    color: white;
    text-align: left;
    font-family: "Torus Notched";
    margin-top: 300px;
    font-size: 30px;
    font-weight: 100;
}  

#couverture {
    page: couverture;
  }
  
@page couverture {
    background-image: url(images/pagedbio3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

@page:nth(2) {
    background-image: url(images/pagedbio1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }

.intro {
    display: block;
    text-align: left;
    color: white;
    font-size: 21px;
    margin-bottom: 200px;
}

@page:nth(3) {
    background-color: black;
}
img {
    width: 90%;
} 
#lesimages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}
#lesimages div {
    border: solid 1px white;
    padding: 10px;
}
p{
    color: white;
    text-align: center;
}

@page:nth(4) {
    background-color: black;
    font-size: 17px;
}

#imgtx1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    break-before: left;



}
h3{
    color:blue;
    text-align: center;
}

#texte1 {
    text-align: center;
}

@page:nth(5) {
    background-color: black;
    font-size: 13.5px;
  }

h2 {
    color: green;
    text-align: center;
}
#imgtx2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;

}
.texte2 {
    color: white;
}
#imgtx3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}
.texte3 { 
    color:white
}

#limace1 {
    width: 380px;
    margin-top: 50px;
    margin-left: 30px;
}

@page:nth(6) {
    background-color: black;
  }



.texte4 {
    display: block;
    text-align: center;
    font-size: 20px;
}
#anguille {
    width: 250%;
    align-items: center;
}
#textef {
    color: white;
    text-align: center;
    display: block;
    font-size: 20px;
    border: solid 3px green;
    margin-top: 450px;
}

@page:nth(7) {
    background-image: url(images/pagedbio4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }


#textev {
    color: white;
    font-size: 17px;
    text-align: center;
    border: solid 3px greenyellow;
    margin-top: 450px;
    background-color: black;
}

@page:nth(8) {
    background-image: url("images/abys3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }

#couvertureb {
    page: couvertureb;
  }

#big-title {
    color: white;
    font-size: 73px;
    text-align: left;
    font-family: "Torus Notched";
    font-weight: 100;
}
#Chap2 {
    color: white;
    text-align: left;
    font-size: 30px;
    font-weight: 100;
    font-family: "Torus Notched";
}  
@page:nth(9) {
    background-color: black;
    font-family: 'Changa', sans-serif;
    font-weight: 100;
 }

#titreb {
    color:rgb(53, 140, 247);
    font-size: 22px;
    font-family: "Torus Notched";
}

#texteb {
    font-size: 17px;
}
#imgb{
    width: 450px;
}

#imgbb{
    width: 480px;
}

@page:nth(10) {
    background-color: black;
    font-family: 'Changa', sans-serif;
 }


#title{
    color:green;
    font-size: 30px;
    font-family: "Torus Notched";
}
#title2 {
    color:rgb(3, 200, 3);
    font-size: 18px;
}
.separateur {
    width: 50px;
    height: 7px;
    background-color: green;
    border-radius: 50px;
    margin-left: 445px;

}

#txt1 {
    font-size: 15px;
    display: block;
}
#rek1 {
    width: 90%;
}

#containt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}
#containt2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

@page:nth(11) {
    background-image: url("images/fluo6.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Changa', sans-serif;
 }

#titrebriller {
    font-size: 50px;
}
.separateur2 {
    width: 100px;
    height: 7px;
    background-color: white;
    border-radius: 50px;
}

#txtbriller {
   color: white;
   font-size: 15px;
   border: solid 3px purple;
   margin-top: 130px;
   background-color: black;
   margin-right: 450px;
}
@page:nth(12) {
    background-image: url("images/rek1pho.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Changa', sans-serif;
 }

#titlepho {
    font-size: 50px;

}

.separateur3 {
    width: 100px;
    height: 7px;
    background-color: white;
    border-radius: 50px;
    
}

#txtpho1 {
    color: white;
    font-family: 'Changa', sans-serif;
    text-align: center;
    font-size: 15px;
    border: solid 3px green;
    margin-left: 350px;
    margin-bottom: 700px;
    background-color: black;
}


@page:nth(13) {
    background-color: black;
    font-family: 'Changa', sans-serif;
 }

#bio {
    color: white;
    font-size: 50px;
}

.separateur3 {
    width: 100px;
    height: 7px;
    background-color: white;
    border-radius: 50px;
    
}

#lesimages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    text-align: center;
}

#lesimages div {
    border: solid 1px black;
    padding: 5px;
    width: 100%;
}

#home {
    color: white;
    margin-bottom: 20px;
}

.titre {
    text-align: center;
}

#conclusion {
    color: white;
    font-family: 'Changa', sans-serif;
    text-align: center;
    display: block;
    font-size: 15px;
    border: solid 1px blue;
    margin-bottom: 700px;
}

    
