body {
    background: yellow;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: blue;
}

p {
    display: none;
}

@media print {
    body{
        background: red;
    }

    @page {
        size: A5;
        margin: 1cm;
    }

    h2 {
        page-break-after: always;
        font-size: 45px;
        font-family: 'Courier New', Courier, monospace;
    }

    p {
        display: block;
    }
}